.botones {
    clear: both;
    padding: 10px 2px 3px 2px;
    display: inline;
}

.botones a {
    font-family: Verdana;
    font-size: 9px;
    font-weight: bold;
    color: #000099;
    background-image: url('../img/bf.gif');
    background-repeat: repeat-x;
    background-position: 0 0px;
/*    background: #E9E9F9; */
    border-top: 1px solid #6666CC;
    border-bottom: 1px solid #9999CC;
    border-left: 1px solid #6666CC;
    border-right: 1px solid #9999CC;
    text-decoration: none;
    -moz-border-radius: 5px; margin-left:0em; margin-right:0em; margin-top:0.1em; margin-bottom:0em; padding-left:36px; padding-right:36px; padding-top:12px; padding-bottom:12px
}
.botones a:hover {
    border:1px solid #CC9900; font-family: Verdana;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
    background-image: url('../img/bf.gif');
    background-repeat: repeat-x;
    background-position: 0 -40px;
/*    background: #F9F6D9; */
    color: #996600;
    -moz-border-radius: 5px
}


/*
Ejemplos de uso:
<div align="center">
  <div class="botones">
    <a href="javascript:void(Aceptar())">Aceptar</a>
    <a href="javascript:void(Riniciar())">Reset</a>
  </div>
</div>
*/


.botonesSubMenu {
    clear: both;
    padding: 0px 10px 0px 10px;
    display: inline;
}

.botonesSubMenu a {
	border:1px solid #CFCFCF; font-family:Verdana;
	font-size: 11px;
	font-weight: bold;
	color:#000099;
	background-image:url('../img/f_Boton.gif');
	background-repeat:repeat-x;
	text-decoration: none;
	height:21px;
	letter-spacing:0.1em;
	padding-left:30px; padding-right:30px; padding-top:0px; padding-bottom:0px

}

.botonesSubMenu a:hover {
	border:1px solid #0ECDE4; background-image:url('../img/f_Boton_s.gif');
	background-repeat:no-repeat;
	background-repeat:repeat-x;
	font-family:Verdana;
	font-size: 11px;
	font-weight:bold;
	letter-spacing:0.1em;
	color:#000099;
	height:21px; padding-left:30px; padding-right:30px; padding-top:0px; padding-bottom:0px
}

/*
Ejemplos de uso:
	<div align="center">
	  <div class="botonesSubMenu">
		<a href="javascript:void(Aceptar())">Aceptar</a>
		<a href="javascript:void(Riniciar())">Reset</a>
	  </div>
	</div>
*/


span.iconoAlert a {
    color: transparent;
	background-image:url('../img/exclamacion.jpg');
    background-position: 0 0px; margin-left:0; margin-right:2px; margin-top:0; margin-bottom:0; padding-left:0px; padding-right:10px; padding-top:0px; padding-bottom:0px
}


.lineaSep {
	height:1px;
	background-color: #EAEDF0;
}



.botonSimple {
	font-size:10px;
	font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
	padding: 0px 0px 0px 0px;
    background:#638cb5;
    border:0px;
    width:100px;
    height:20px;
	cursor:hand;
}

.botonSimpleGrande {
	font-size:10px;
	font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#638cb5;
    border:0px;
    width:150px;
    height:20px; 
	cursor:hand;        
}